*.zip
*.code-workspace
DataTables/
src/styles/other/
src/content-scripts/other/
src/background/other/
src/content-scripts/content2.js
node_modules
src/background/services_dev.mjs
extra/

# include this one zip
!stockgalleryhelper-*.zip
